
// COLOR CONFIGURATION

$piq-purple-lighter: #cdcde5;
$piq-purple: #6769B0;
$piq-purple-darker: #343458;

$piq-gray: #777777;
$piq-gray-light: #cccccc;

$piq-red: #EE3D55;

$piq-aqua-dark: #47A5BC;
$piq-aqua: #3FC4E0;

$piq-gold: #FDC364;
$piq-gold-light: #F0D399;
